body {
  margin: 0;
  padding: 0;
  font-family:cursive;
  background-image: url('https://i.pinimg.com/originals/11/93/64/11936490748b82a2231dc0bf01d0f242.gif');
  background-repeat: no-repeat;
  background-size: 100%;
 
}
