a, button {
	vertical-align: baseline !important;
	overflow: visible !important;
}



@media (min-width: 400px) {
	div.Login-root-128 {
    margin: 5% 4% 0% 4%;
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(10,45,89, 0.4);
    padding-bottom: 25px;
}



}
